/* =============
  LOGIN PAGE
============= */
a,button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
   -moz-border: 0;
    -ms-border: 0;
    -o-border: 0;
  border:0;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.avatar {width: 75px;}
.table td {vertical-align: middle;}
button:focus {outline: none!important;box-shadow: none!important;}
.btn {font-size: 14px;}

/*login page*/
.login-left {
  background-image: url('../images/login-bg.jpg');
  background-size: cover;background-position: center;
}
.fullvh {height: 100vh;}
.m-c {display: flex;justify-content: center;align-items: center;background-color: #fff;}
.login-section {
  width: 100%;
  padding: 0 20px;
}
.app-name {margin-bottom: 25px;font-size: 35px;}
.login-section .form-group {margin-bottom: 30px;position: relative;}
.login-section h5 {margin-bottom: 40px;color: #000;font-weight: 100;}
.login-section .fa-user-o,.login-section .fa-key {position: absolute;top: 14px;font-size: 22px;}
.login-section .form-control {
  height: 50px;border: none;border-bottom:1px solid #ccc;border-radius: 0;font-size: 15px;padding:5px 5px 0 30px;
}
.login-section .form-control:focus {border:none;border-bottom:1px solid #f7415a;outline: none;box-shadow: none;}
.btn-login {padding: 8px 20px 6px 20px; border-radius: 20px;border: 1px solid #555;background: none;text-transform: uppercase;}
.btn-login:hover, .btn-login:focus{background:#555; color: #fff;border-color: #555;}
@media only screen and (max-width: 767.98px) {
  .login-left {display: none;}
}
.choosen {font-size: 16px;font-weight: 100;color: #c31a51;text-transform: capitalize;padding-left: 5px}
.white {color: #fff!important}
.d-no{display: none;}
/*alert message style*/
.alert {
  position: fixed;width:320px;z-index: 99999;margin-bottom: 0;color: #fff;border: 0;border-radius: 0;
  right: 15px;bottom: 10px;padding: 0;font-size: 16px;
-webkit-box-shadow: -1px 3px 42px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 42px -1px rgba(0,0,0,0.75);
box-shadow: -1px 3px 42px -1px rgba(0,0,0,0.75);
 -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
}
@-webkit-keyframes seconds {
  0% {opacity: 1;}
  100% {opacity: 0;right: -400px; }
}
@keyframes seconds {
  0% {opacity: 1;}
  100% {opacity: 0;right: -400px;}
}
.alert i{font-size: 30px;color: #fff;}
.alert .col-2 {padding:10px;display: flex;align-items: center;justify-content:center;position: relative;}
.alert .col-2::after {height: 40px;width: 2px;content: '';position: absolute;right: 0;}
.alert .col-10 {padding:10px;display: flex;align-items: center;justify-content:start;}
.alert-success .col-2::after {background: #2a7154;}
.alert-error .col-2::after {background: #bd262b;}
.alert-success {background: #0a653f;}
.alert-error {background: #a71b20;}
@media only screen and (max-width: 575.98px) {
  .alert {width:100%;left: 0;right: 0;bottom: 0;font-size: 15px;margin: auto;box-shadow: none;}
  @-webkit-keyframes seconds {0% {opacity: 1;}100% {opacity: 0;bottom: -50px;}}
  @keyframes seconds {0% {opacity: 1;}100% {opacity: 0;bottom: -50px;}}
}
.contents {
  margin-top: 76px;margin-bottom: 41px;
}
.jumbotron {
  padding: 50px 0;
  margin-bottom: 0;
  background-color: #fff;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.jumbotron-heading {
  font-weight: 300;
}
.jumbotron .container {
  max-width: 800px;
}

#addItem {
  min-height: 250px;
  height:100%;
  background: #d7dadc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  position: relative;
  border: 0;
  padding: 10px;
  border: 1px solid #ccc;
  height: 100%;
}
.car-title {
  font-size: 14px;
  text-transform: uppercase;
  color: red;
  text-align: center;
}
.car-title span{
  color: #117a8b;
}
.card dd, .card dt{
  font-size: 13px;
}
.card .removeItem {
  color: #e81b2f;
  cursor: pointer;
  position: absolute;
  background: #fff;
  z-index: 999;
  top: -9px;
  right: -9px;
  font-size: 20px;
}
.card p{
  font-size: 14px;
  margin-bottom: 0;
  text-align: justify;
}
.card .item {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 12px;
}
.selectedImg {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #efe9d8;
  display: flex;justify-content: center;align-items: center;
}
.selectedImg button {
    height: 40px;
}
/* Bootstrap select */
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
  display: block;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
  display: none;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #313a46;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
  background-color: #5d6dc3;
  background: #52b933;
  color: #fff;
}

.bootstrap-select .btn-light {
    color: #000!important;
    background-color: #fff!important;
    width: 100%;
    display: block!important;
    min-height: 34px!important;
    border-color: #dadada;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
  width: 100%;
}
.page-icon {
  font-size: 50px;
  color: #ccc;
}
.breadcrumb {
  background-color: transparent;
  padding: 0;
  font-size: 14px;
  margin-bottom: 0;
}

.breadcrumb a {
  color: #ec1212;
  text-decoration: underline;
}
.breadcrumb a:hover {
  text-decoration: none;
}
.breadcrumb > li + li:before {
  color: #ccc;
  content: "\f105" !important;
  font-family: FontAwesome;
}
.dataTables_wrapper {padding: 0;}
/* Custom-modal */
.modal-demo {
  background-color: #ffffff;
  width: 600px;
  border-radius: 4px;
  display: none;
}

.modal-demo .close {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #e2e2e2;
}

.custom-modal-title {
  padding: 15px 25px 15px 25px;
  line-height: 22px;
  font-size: 18px;
  background-color: #313a46;
  color: #ffffff;
  text-align: left;
  margin: 0;
}

.custom-modal-text {
  padding: 20px;
}

.custombox-modal-wrapper {
  text-align: left;
}

.custombox-modal-flash .close, .custombox-modal-rotatedown .close {
  top: 20px;
  z-index: 9999;
}

/*Form Inputs*/
label.mandatory::after {
  content: '*';color: red;padding-left: 1px;font-size: 14px;
}
textarea.form-control {
  min-height: 90px;
  resize: none;
}

.form-control {
  border: 1px solid #dadada;
  border-radius: 4px;
  max-width: 100%;
  font-size: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  font-family: "Roboto", sans-serif;
}

.form-control:focus {
  border: 1px solid #afafaf;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
/*Toaster*/
.jq-icon-success {
  background-color: #3ec396;
  color: #ffffff;
  border-color: #3ec396;
}

.jq-icon-error {
  background-color: #d22334;
  color: #fff;
}
.jq-has-icon {padding: 10px 10px 10px 40px;}
.jq-toast-wrap.bottom-right {bottom: 20px;right: 25px;}
.close-jq-toast-single {
  display: none;
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 20px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-color: #313a46;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
}
.jq-toast-loader {
  display: none;
}
.jq-toast-wrap {z-index: 99999!important;}
@media only screen and (max-width: 767.98px) {
  .jq-toast-single {font-size: 14px;}
  .jq-has-icon {padding: 8px 8px 8px 40px;}
  .jq-toast-wrap.bottom-right {bottom: 10px;right: 0;left: 0;margin: auto;}
}
.modelRow {cursor: pointer;}
/*Footer*/
.footer {
  padding: 10px 0;
  color: #9a9da0;
  font-size: 14px;
}
.footer span{
  display: inline-block;
}
.footer a{
  color: #fff;
  text-decoration: underline;
}
